[Unit]
Description=Run the autopilot system on a companion computer
After=multi-user.target

[Service]
ExecStart=/usr/bin/bash /venus-startup/run.sh
Type=simple

[Install]
WantedBy=multi-user.target